<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户列表</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
	</head>

	<body>
		<div class="main">
			<form id="addUserForm" action="/api/users" method="post" role="form">
				<table class="table">
					<tr>
						<td width="100">广告编码:</td>
						<td width="600"><input type="text" class="form-control" value="" name="name" placeholder="广告编码H开头为首页" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">描述备注:</td>
						<td width="600"><input type="text" name="descriptions" class="form-control" placeholder="描述备注"/></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">广告内容:</td>
						<td width="600"><textarea name="adContent" rows="3" cols="3" class="form-control" placeholder="广告内容"></textarea></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">时　间:</td>
						<td><input type="text" class="form-control" name="time" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><input type="submit" class="btn btn-md btn-success" value="添加"/>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		$(function(){
			$("input[name='time']").val(getNowFormatDate());
		})
			$("#addUserForm").on("submit", function(evt) {
				evt.preventDefault();
				var action = $(this).attr('action');
				var $container = $(this).closest('.main');
				var form = $(this).closest('#addUserForm').serializeObject();
				$.ajax({
					url: action,
					type: 'post',
					data:form,
					success:function(res) {
						if(res.code==200) {
							$container.html('<h4>添加成功!<a href="JavaScript:location.reload()">继续添加!</a></h4>');
							return;
						}
						$container.html('添加失败!<a href="JavaScript:location.reload()">重新添加!</a>');
						
					},
					error: function() {
						$container.html('添加失败!<a href="JavaScript:location.reload()">重新添加!</a>');
					}
				})

			})
		</script>
	</body>

</html>