<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户列表</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
	</head>

	<body>
		<div class="main">
			<form id="addAdsForm" action="/api/ads" method="post" role="form" id="addAdsForm">
				<table class="table">
					<tr>
						<td width="100">*广告位置:</td>
						<td width="600">
							<select name="adType" id="adType" class="form-control">
								<option value='' disabled selected hidden>请选择广告所属位置</option>
								<option value="HM">首页</option>
								<option value="NChannel">新闻频道页</option>
								<option value="NClass">新闻栏目页</option>
								<option value="NArticle">新闻内容页</option>
								<option value="RChannel">报告频道页</option>
								<option value="RClass">报告频道页</option>
								<option value="RArticle">报告内容页</option>
								<option value="OH">其他页面</option>
							</select>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">广告编码:</td>
						<td width="600"><input type="text" class="form-control" value="" name="adNumber" placeholder="广告编码(系统自动生成)" readonly="readonly"/></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">*广告描述:</td>
						<td width="600"><input type="text" name="descriptions" class="form-control" placeholder="广告描述"/></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">*广告内容:</td>
						<td width="600"><textarea name="adContent" rows="3" cols="3" class="form-control" placeholder="广告内容"></textarea></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><input type="submit" class="btn btn-md btn-success" value="添加" />&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//提交表单
			$("#adType").on("change",function(){
				$('input[name="adNumber"]').val($(this).val())
			})
			$("#addAdsForm").validataForm({
					rules: {
						adType:"required",
						adNumber: "required",
						descriptions: "required",
						adContent: "required",
					},
					messages: {
						adType:"广告所属位置必须选择!",
						adNumber: "广告编号不能为空",
						descriptions: "广告描述不能为空",
						adContent: "广告内容不能为空,支持html代码!",
					}
				},
				function(e, form) {
					e.preventDefault();
					var action = $(form).attr('action');
					var form = $(form).serializeObject();
					$.ajax({
						url: action,
						type: 'post',
						data: form,
						success: function(res, success) {
							if(res && res.code == 500) {
								alert(res.msg);
							} else {
								if(success == 'success')
									alert("添加成功!");
								window.location.reload();
							}
						},
						error: function(err) {
							if(err) {
								alert(err.responseText)
							}
						}
					})
				})
		</script>
	</body>

</html>