<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加研究员信息</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
	</head>

	<body>
		<div class="main">
			<form id="boffinForm" action="/api/boffins" method="post" name="boffinForm">
				<table class="table">
					<tr>
						<td width="100">研究员名:</td>
						<td width="600"><input type="text" class="form-control" value="" name="boffinName" placeholder="研究员姓名" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>百度推广:</td>
						<td><input type="text" class="form-control" name="baiduUrl" value="" placeholder="百度中对应的研究员url" /></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td>描述信息:</td>
						<td><textarea type="text" class="form-control" name="description" value="" placeholder="描述信息"></textarea></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">添加时间:</td>
						<td><input type="text" class="form-control" name="postTime" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><button type="submit" id="add" class="btn btn-md btn-success">添加</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				//打开就加载新闻时间
				$("input[name='postTime']").val(getNowFormatDate());
				//获取表单
				//提交表单
				$("#boffinForm").validataForm({
						rules: {
							boffinName: "required",
							baiduUrl: "required",
							description: "required",
							postTime: {
								required: true,
							}
						},
						messages: {
							boffinName: "姓名必须填写",
							baiduUrl: "url必须填写",
							description: "描述信息必须填写",
							postTime: {
								required: "日期必须填写",
							}
						}
					},
					function(e, form) {
						e.preventDefault();
						var action = $(form).attr('action');
						var form = $(form).serializeObject();
						$.ajax({
							url: action,
							type: 'post',
							data: form,
							success: function(res) {
								alert('添加成功!');
								window.location.reload();
							},
							error: function(err) {
								if(err) {
									alert(err.responseText)
								}
							}
						})
					})

			})
		</script>
	</body>

</html>