<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加报告</title>
		<link rel="stylesheet" href="/src/less/addReport.css" />
		<style>
			.ke-icon-reportFormat {
				background: url("/src/lib/ueditor/themes/default/paiban.gif");
				width: 16px;
				height: 16px;
			}
		</style>
	</head>

	<body>
		<div class="main">
			<form id="reportForm" action="/api/reports" method="post" name="reportForm">
				<table class="table">
					<tbody>
						<tr>
							<td width="100"><span class="text-danger">* </span>分类(大)：</td>
							<td colspan="2">
								<select name="fristClass" class="form-control" id="fristClass"></select>
							</td>
							<td><span class="text-danger">* </span>分类(小)：</td>
							<td colspan="2">
								<select name="childClass" class="form-control" id="childClass"></select>
							</td>
							<td><span class="text-danger">* </span>报告地址：</td>
							<td colspan="5" width="1000"><input type="text" class="form-control" name="reportUrl" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100">　<span class="text-danger">* </span>报告标题：</td>
							<td colspan="5"><input type="text" class="form-control" name="subTitle" id="" value="" oninput="setTitle(this)" /></td>
							<td width="100">TITLE：</td>
							<td colspan="5"><input type="text" class="form-control" name="title" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100"><span class="text-danger">* </span>报告核心词：</td>
							<td colspan="5"><input type="text" class="form-control" name="coreKeywords" id="" value="" oninput="setReportUrl(this)" /></td>
							<!--<td width="100">页内关键词：</td>-->
							<!--<td ><input type="hidden" class="form-control" name="subKeywords" id="" value="润滑油临氢降凝催化剂" /></td>-->
							<td><span class="text-danger">* </span>keywords：</td>
							<td colspan="5"><input type="text" placeholder="keywords与页内关键词合并" class="form-control" name="keywords" id="" value="" /></td>
						</tr>
						<tr>
							<td width="100"><span class="text-danger">* </span>相关报告：</td>
							<td><input type="text" class="relatedReport form-control" name="relatedReport" id="" value="" onMouseOver="this.title=this.value" readonly="readonly" />&nbsp;
								<a style="width:15px;text-align:center;color:#FFFFFF;border: 1px solid #ddd;background: green;line-height:28px;display: inline-block;height:28px;" data-toggle="modal" data-backdrop="static" data-target="#relatedReportsModal" href="#" title="选择相关报告">+</a>
							</td>
							<td width="100">最新修订：</td>
							<td><input type="text" class="form-control" name="latestRevision" id="" value="" onMouseOver="this.title=this.value" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
							<td><span class="text-danger">* </span>首次发布：</td>
							<td><input type="text" class="form-control" name="postTime" id="" value="" onMouseOver="this.title=this.value" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
							<td width="100">description：</td>
							<td colspan="5"><input type="text" class="form-control" name="description" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100"><span class="text-danger">* </span>双版本价格：</td>
							<td><input type="text" class="form-control" name="doubleVersion" id="" value="8000" /></td>
							<td width="100"><span class="text-danger">* </span>电子版价格：</td>
							<td><input type="text" class="form-control" name="pdfPrice" id="" value="7000" /></td>
							<td width="100"><span class="text-danger">* </span>纸介版价格：</td>
							<td><input type="text" class="form-control" name="entityPrice" id="" value="8000" /></td>
							<td width="100"><span class="text-danger">* </span>报告主编：</td>
							<td>
								<!--<input type="text" class="form-control" name="reportAuthor" id="" value="" onmouseover="this.title=this.value" />-->
								<select id="reportAuthor" name="reportAuthor" class="selectpicker show-tick" multiple data-live-search="false"></select>
							</td>
							<td width="100"><span class="text-danger">* </span>交付方式：</td>
							<td><input type="text" class="form-control" name="deliveryMode" id="" value="Email发送或特快专递(2-3天送达)" /></td>
							<td width="100"><span class="text-danger">* </span>报告格式：</td>
							<td><input type="text" class="form-control" name="reportFormat" id="" value="电子版或纸介版" /></td>
						</tr>
						<tr>
							<td width="100"><span class="text-danger">* </span>简介|图表：</td>
							<td colspan="9">
								<textarea  rows="5" cols="84" name="reportSummary" /></textarea>
							<textarea  rows="5" cols="85" name="reportShart" id="reportShart" oninput="setReportShart(this)"/></textarea>
							<td><button type="submit" id="addNewsBtn" class="btn btn-md btn-success">添加</button><br/><br/><button class="btn btn-md btn-default" type="reset">重置</button></td>
							</td>
						</tr>
						<tr>
							<td width="100"><span class="text-danger">* </span>报告目录：</td>
							<td colspan="11"><textarea id="reportEdit" class="form-control" rows="8" name="reportCatalog" placeholder="报告目录" /></textarea>
						</tr>
						
						<tr>
							<td></td>
							<td class="btnLeft" colspan="11"><button type="submit" id="addNewsBtn" class="btn btn-md btn-success">添加</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<!--相关报告选择模态框-->
		<div class="containers modal fade" id="relatedReportsModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<span data-dismiss="modal" class="close">&times;</span>
						<h5 class="modal-title text-danger">选择相关报告</h5>
					</div>
					<div class="modal-body">
						<input type="type" name="" id="" value="" class="form-control" placeholder="键入报告ID或关键词搜索" />
						<table class="table" id="relatedReportsList">
							<thead>
								<tr>
									<th>选择</th>
									<th>序号</th>
									<th>报告名称</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap-select.min.js"></script>
		<script src="/src/lib/js/toPinYin.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kindeditor.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/lang/zh_CN.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kEditorConfig.js"></script>
		<script type="text/javascript">
			$(function() {

				//相关报告模态框内容填充
				$("#relatedReportsModal").on("show.bs.modal", function() {
					var html = '',
						check = $('#reportForm input[name="relatedReport"]').val() || [];
					$.get(ajaxConfig.reportsList, function(res) {
						//如果有数据的情况
						res.forEach(function(v, i) {
							var tag = (check.length != 0 && check.indexOf(v.id.toString(), 0) != -1) ? 'checked="checked"' : '';
							html += '<tr><td><input type="checkbox" value="' + v.id + '" ' + tag + '/></td><td>' + v.id + '</td><td>' + v.subTitle + '</td></tr>';
						})
						$("#relatedReportsList tbody").empty().append(html)
					})

					if(check.length != 0) {
						check = check.split(',');
					}

					$("#relatedReportsModal").on("click", 'input[type="checkbox"]', function() {
						var _this = this;
						if(this.checked) {
							check.push(this.value)
						} else {
							check.forEach(function(v, i) {
								if(v == _this.value) {
									check = check._splice(i)
								}
							})
						}
						$('#reportForm input[name="relatedReport"]').val(check.join(','))
					})

				})

				//加载发布时间
				$("input[name='postTime']").val(getNowFormatDate());

				//获取分类栏目数据填充select
				$.get(ajaxConfig.reportClassList, function(reslut) {
					var html = '',
						childClassInit = '';
					reslut.forEach(function(val, ind) {
						if(ind == 0) {
							val.child.forEach(function(v, i) {
								childClassInit += '<option value=' + v.id + '>' + v.sub_title + '</option>'
							})
						}
						html += '<option value=' + val.id + '>' + val.sub_title + '</option>'
					})
					$("#fristClass").empty().append(html);
					$("#childClass").empty().append(childClassInit);

					//有数据后切换子分类
					$(".main").on('change', '#fristClass', function() {
						var fristId = $("#fristClass").find("option:selected").val(),
							childClassData = '';
						reslut.forEach(function(val, ind) {
							if(val.id == fristId) {
								val.child.forEach(function(v, i) {
									childClassData += '<option value=' + v.id + '>' + v.sub_title + '</option>'
								})
							}
						})
						$("#childClass").empty().append(childClassData);
					})
				})

			})

			function setReportUrl(_this) {
				var keyword = $('input[name="keywords"]').val();
				$('input[name="reportUrl"]').val('/reports/' + ConvertPinyin(_this.value) + '.html');
				if(keyword) {
					if(keyword.indexOf(_this.value.replace(/[\s|\.|,]+/, '')) == -1) {
						$('input[name="keywords"]').val(_this.value.replace(/[\s|\.|,]+/, '') + ' ' + keyword);
					}
				} else {
					$('input[name="keywords"]').val(_this.value);
				}

			}

			function setTitle(_this) {
				$('input[name="title"]').val(_this.value)
				$('input[name="description"]').val(_this.value)
			}
			
			function setReportShart(_this){
				_this.value=_this.value.replace(/^\s+/gm,'');
			}
			
			//获取报告主编数据填充select
			$.get(ajaxConfig.boffinsList, function(res) {
				var html = '';
				res.forEach(function(v, i) {
					html += '<option value=' + v.id + '>' + v.name + '</option>'
				})
				$("#reportAuthor").empty().append(html);
				$('#reportAuthor').selectpicker({
					'selectedText': 'cat',
				});
			})


			//提交表单
			$("#reportForm").validataForm({
					rules: {
						subTitle: "required",
						coreKeywords: "required",
						reportAuthor: "required",
						postTime: {
							required: true,
						},
						doubleVersion: {
							required: true,
							digits: true
						},
						pdfPrice: {
							required: true,
							digits: true
						},
						entityPrice: {
							required: true,
							digits: true
						}
					},
					messages: {
						reportAuthor: "报告主编必须填写",
						subTitle: "报告标题不能为空",
						coreKeywords: "核心关键词不能为空",
						postTime: {
							required: "日期必须填写",
						},
						doubleVersion: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						},
						pdfPrice: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						},
						entityPrice: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						}
					}
				},
				function(e, form) {
					e.preventDefault();
					editor2.sync();
					var action = $(form).attr('action');
					var form = $(form).serializeObject();
					$.ajax({
						url: action,
						type: 'post',
						data: form,
						success: function(res,success) {
							if(success=='success')
							alert('添加成功!');
							window.location.reload();
						},
						error: function(err) {
							if(err) {
								alert(err.responseText)
							}
						}
					})
				})
		</script>
	</body>

</html>