<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>广告管理</title>
		<link rel="stylesheet" href="../src/less/users.css" />
	</head>

	<body>
		<div class="main">
			<table class="table table-bordered" id="Ads">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th title="首页|HM、新闻频道页|NChannel、新闻栏目页|NClass、新闻内容页|NArticle、报告频道页|RChannel、报告栏目页|RClass、报告内容页|RArticle、其他页面|OH">广告编号</th>
						<th>描述|备注</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="modifyAd" id="modifyAd" style="display: none;">
				<form id="modifyAdForm" action="/api/ads" method="put" role="form" id="modifyAdForm">
				<table class="table">
					<tr>
						<td width="100">*广告位置:</td>
						<td width="600">
							<select name="adType" id="adType" class="form-control" disabled>
								<option value='' disabled selected hidden>请选择广告所属位置</option>
								<option value="HM">首页</option>
								<option value="NChannel">新闻频道页</option>
								<option value="NClass">新闻栏目页</option>
								<option value="NArticle">新闻内容页</option>
								<option value="RChannel">报告频道页</option>
								<option value="RClass">报告频道页</option>
								<option value="RArticle">报告内容页</option>
								<option value="OH">其他页面</option>
							</select>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">广告编码:</td>
						<input type="hidden" name="uid" id="uid" value="" />
						<td width="600"><input type="text" class="form-control" value="" name="adNumber" placeholder="广告编码(系统自动生成)" readonly="readonly"/></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">*广告描述:</td>
						<td width="600"><input type="text" name="descriptions" class="form-control" placeholder="广告描述"/></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">*广告内容:</td>
						<td width="600"><textarea name="adContent" rows="8" cols="5" class="form-control" placeholder="广告内容"></textarea></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><input type="submit" class="btn btn-md btn-success" value="更新" />&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
			</div>
		</div>

		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getAds();
				putAd();
			});

			function getAds() {
				var html = '<tr><td colspan="5">没有数据哦,请先添加!...</td></tr>';
				$.get(ajaxConfig.adsList, function(res) {
					if(res&&res.length) {
						html = "";
						res.forEach(function(val, index) {
							html += '<tr><td>' + val.id + '</td><td title="首页|HM、新闻频道页|NChannel、新闻栏目页|NClass、新闻内容页|NArticle、报告频道页|RChannel、报告栏目页|RClass、报告内容页|RArticle、其他页面|OH">' + val.adNumber + '</td><td>' + val.descriptions + '</td><td>' + formatDate(val.time) + '</td><td><a href="JavaScript:void(0)" onclick="getAd(this)">修改</a>　<a href="javascript:void(0)" onclick="delAd(this)">删除</a></td><tr/>'
						})
					}
					$("#Ads tbody").empty().append(html);
				})
			}

			function getAd(_this) {
				$("#Ads").hide();
				$("#modifyAd").show();
				var uid = $(_this).parents("tr").children("td:first").html();
				$("#modifyAdForm input[name='uid']").val(uid)
				$.get(ajaxConfig.Ads + '/' + uid, function(res) {
					if(res&&res.length) {
						$("#modifyAdForm select[name='adType']").val(res[0].adType)
						$("#modifyAdForm input[name='adNumber']").val(res[0].adNumber)
						$("#modifyAdForm input[name='descriptions']").val(res[0].descriptions)
						$("#modifyAdForm textarea[name='adContent']").val(res[0].adContent)
					}
				})
			}

			function putAd() {
				$("#modifyAdForm").on('submit', function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var $container = $(this).closest('#modifyAd');
					var form = $(this).closest('#modifyAdForm').serializeObject();
					$.ajax({
						url: action+ '/' + $("#modifyAdForm input[name='uid']").val(),
						type: 'put',
						data: form,
						success: function(res) {
							if(res&&res.affectedRows) {
								alert("修改成功!")
								return getAds();
							}
						},
						error: function() {
							alert("修改失败!请刷新重试!")
						}
					})
				})
			}

			function delAd(_this) {
				var uid = $(_this).parents("tr").children("td:first").html();
				if(confirm("您正在执行删除操作,确定删除吗?")) {
					$.ajax({
						type: "delete",
						url: ajaxConfig.Ads + '/' + uid,
						success: function(res) {
							if(res&&res.affectedRows) {
								getAds();
							}
						},
						error: function() {
							alert("删除失败!请刷新重试!")
						}
					});
				}
			}
		</script>
	</body>

</html>