<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>研究员列表</title>
		<link rel="stylesheet" href="/src/less/users.css" />
	</head>

	<body>
		<div class="main">
			<table class="table table-bordered" id="boffins">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th>用户名</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="modifyUser" id="modifyBoffin" style="display: none;">
				<form id="boffinForm" action="/api/boffins" method="post" name="boffinForm">
				<table class="table">
					<tr>
						<td width="100">研究员名:</td>
						<td width="600"><input type="hidden" class="form-control" value="" name="uid" placeholder="uid" /><input type="text" class="form-control" value="" name="boffinName" placeholder="研究员姓名" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>百度推广:</td>
						<td><input type="text" class="form-control" name="baiduUrl" value="" placeholder="百度中对应的研究员url" /></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td>描述信息:</td>
						<td><textarea type="text" class="form-control" name="description" value="" placeholder="描述信息"></textarea></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">添加时间:</td>
						<td><input type="text" class="form-control" name="postTime" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><button type="submit" id="add" class="btn btn-md btn-success">更新</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
			</div>
		</div>

		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getboffins();
			});

			function getboffins() {
				var html = '<tr><td colspan="4">没有用户哦,请先添加!...</td></tr>';
				$.get(ajaxConfig.boffinsList, function(res) {
					if(res){
						html=''
						res.forEach(function(val, index) {
							html += '<tr><td>' + val.id + '</td><td>' + val.name + '</td><td>' + formatDate(val.post_time) + '</td><td><a href="JavaScript:void(0)" onclick="getboffin(this)">修改</a>　<a href="javascript:void(0)" onclick="delboffin(this)">删除</a></td><tr/>'
						})
						$("#boffins tbody").empty().append(html);
					}
				})
			}

			function getboffin(_this) {
				$("#boffins").hide();
				$("#modifyBoffin").show();
				var uid = $(_this).parents("tr").children("td:first").html();
				$.get(ajaxConfig.boffins + '/' + uid, function(res) {
					if(res) {
						$("#boffinForm input[name='boffinName']").val(res[0].name)
						$("#boffinForm input[name='baiduUrl']").val(res[0].baidu_url)
						$("#boffinForm textarea[name='description']").val(res[0].description)
						$("#boffinForm input[name='postTime']").val(formatDate(res[0].post_time))
						$("#boffinForm input[name='uid']").val(res[0].id)
					}
				})
			}

		
				$("#boffinForm").validataForm({
						rules: {
							boffinName: "required",
							baiduUrl: "required",
							description: "required",
							postTime: {
								required: true,
							}
						},
						messages: {
							boffinName: "姓名必须填写",
							baiduUrl: "url必须填写",
							description: "描述信息必须填写",
							postTime: {
								required: "日期必须填写",
							}
						}
					},
					function(e, form) {
						e.preventDefault();
						var action = $(form).attr('action')+'/'+$("#boffinForm input[name='uid']").val();
						var form = $(form).serializeObject();
						$.ajax({
							url: action,
							type: 'put',
							data: form,
							success: function(res,success) {
								if(success=='success')
									alert('更新成功!');
									window.location.reload();

							},
							error: function(err) {
								if(err) {
									alert(err.responseText)
								}
							}
						})
					})

			function delUser(_this){
				var uid = $(_this).parents("tr").children("td:first").html();
				$.ajax({
					type:"delete",
					url:ajaxConfig.users + '/' + uid,
					success:function(res){
						if(res.code == 200) {
								alert(res.message);
								getUsers();
								return;
							}
							alert(res.message);
					},
					error:function(){
						alert("删除失败!请刷新重试!")
					}
				});
			}
		</script>
	</body>

</html>