<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增新闻内容</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
	</head>

	<body>
		<div class="main">
			<form id="newsForm">
				<table class="table">
					<tr>
						<td width="100">新闻分类:</td>
						<td>
							<input type="hidden" class="form-control" name="newsId" value="{{newsId}}" placeholder="顶级分类" />
							<input type="hidden" class="form-control" name="classFirstId" value="{{classFirstId}}" placeholder="顶级分类" />
							<select name="classChildId" class="form-control" id="newsClassSelect"></select>
						</td>
						<td>Url:</td>
						<td><input type="text" class="form-control" name="newsUrl" value="" placeholder="该项自动填写,如要手动输入,请点击此表单" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>新闻标题:</td>
						<td><input type="text" class="form-control" name="subTitle" placeholder="新闻标题" oninput="fillRightInput()" /></td>
						<td width="100">title:</td>
						<td><input class="form-control" type="text" name="title" placeholder="Title(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>页关键词:</td>
						<td><input type="text" class="form-control" name="subKeywords" placeholder="页关键词" oninput="fillRightInput()" /></td>
						<td width="100">keywords:</td>
						<td><input type="text" class="form-control" name="keywords" value="" placeholder="keywords(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td width="100">来　　源:</td>
						<td><input type="text" class="form-control" name="source" value="" placeholder="来源" /></td>
						<td>Description:</td>
						<td><input type="text" class="form-control" name="description" value="" placeholder="description(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>编　　辑:</td>
						<td><input type="text" class="form-control" name="author" value="" placeholder="编辑" /></td>
						<td width="100">发布时间:</td>
						<td><input type="text" class="form-control" name="time" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onfocus="fillRightInput(),WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>新闻内容:</td>
						<td colspan="3"><textarea id="editor1" class="form-control" rows="12" name="nContent" value="" placeholder="新闻内容" /></textarea>
						</td>
					</tr>

					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><button type="button" id="editNewsBtn" class="btn btn-md btn-success">编辑保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/toPinYin.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script charset="utf-8" src="/lib/ueditor/kindeditor.js"></script>
		<script charset="utf-8" src="/lib/ueditor/lang/zh_CN.js"></script>
		<script type="text/javascript">
			$(function() {
				//加载新闻时间
				$("input[name='time']").val(getNowFormatDate());
				hoverInput();
				editNews();
				getNews();
				getNewsClass();
				fillRightInput();
			})
			
			//加载编辑器
				KindEditor.ready(function(K) {
					window.editor = KindEditor.create('textarea[name="nContent"]', {
						filterMode: true,
						width: '100%'
					});
				});
				
			//获取新闻内容,填充表单
			function getNews() {
				$.get(ajaxConfig.news + '/' + {{newsId}}, function(res) {
					if(res.code == 200 && res.data.length != 0) {
						$('input[name="newsUrl"]').val(res.data[0].newsUrl);
						$('input[name="title"]').val(res.data[0].title);
						$('input[name="keywords"]').val(res.data[0].keywords);
						$('input[name="subKeywords"]').val(res.data[0].subKeywords);
						$('input[name="description"]').val(res.data[0].description);
						$('input[name="source"]').val(res.data[0].source);
						$('input[name="author"]').val(res.data[0].author);
						$('input[name="time"]').val(formatDate(res.data[0].time));
						$('input[name="subTitle"]').val(res.data[0].subTitle);
						editor.html(res.data[0].nContent);
					}

				})
			}

			//获取分类,填充下拉框
			function getNewsClass() {
				var html='';
				$.ajax({
					url:ajaxConfig.newsClassList,
					type:"get",
					success:function(res){
					if(res.code == 200&&res.data.length!=0) {
						res.data.forEach(function(val,index){
							html+='<optgroup label="'+val.subTitle+'">';
							var children='';
							val.child.forEach(function(v,i){
								children +='<option value ="'+v.id+'">'+v.subTitle+'</option>';
							})
							
							html+=children + "</optgroup>";
						})
						
						$("#newsClassSelect").empty().append(html);
						$("#newsClassSelect").val({{classChildId}});
						return;
					}
					alert(res.message)
					},
					error:function(res){}
				})
			}

			//控制启用表单
			function hoverInput() {
				$('input[name="title"],input[name="keywords"],input[name="newsUrl"],input[name="description"],input[name="time"]').hover(function() {
					$(this).removeAttr("readonly")
				}, function() {
					$(this).attr("readonly", "readonly")
				})
			}

			//根据左侧内容,自动填写右侧表单
			function fillRightInput(_this) {
				//格式化时间,拼凑url
				var formatDate = Date.parse(new Date($("input[name='time']").val())) / 1000,
					keyword = $('input[name="subKeywords"]').val().match(/[^\s|,|，|、]+/g) ? $('input[name="subKeywords"]').val().match(/[^\s|,|，|、]+/g) : "0";
				$('input[name="title"]').val($('input[name="subTitle"]').val());
				$('input[name="keywords"]').val($('input[name="subKeywords"]').val())
				$('input[name="description"]').val($('input[name="subTitle"]').val())
			}
			//编辑新闻
			function editNews() {
				$("#editNewsBtn").click(function() {
					editor.sync();
					var html = $("#editor1").val();
					var newsData = $("#newsForm").serializeObject();
					$.ajax({
						url: ajaxConfig.news,
						type: "put",
						dataType: "json",
						data: newsData,
						success: function(res) {
							if(res.data.length != 0 && res.code == 200) {
								alert(res.message);
								return;
							}
							alert(res.message);
						},
						error: function(res) {
							alert(res);
						}
					})

				})
			}
		</script>
	</body>

</html>