<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>头条设置</title>
		<link rel="stylesheet" href="../src/less/users.css" />
	</head>
	<body>
		<div class="main">
			<form action="/api/headlines" method="put" name="headlinesFrom" id="headlinesFrom">
			<table class="table table-bordered" id="headlines">
				<tbody>
					<tr>
						<td colspan="2"><strong>首页头条设置</strong></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题1"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址1"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题2"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址2"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题3"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址3"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题4"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址4"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题5"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址5"/></td>
					</tr>
					<tr>
						<td height="40"><input class="form-control" type="text" name="news" id="" value="" placeholder="大标题6"/></td>
						<td><input class="form-control" type="text" name="news" id="" value="" placeholder="网址6"/></td>
					</tr>
					<tr>
						<td height="40" colspan="2"><button type="submit" class="btn btn-sm btn-success">设置</button></td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>

		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#headlinesFrom").on('submit', function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var form = $(this).closest('#headlinesFrom').serializeObject();
					$.ajax({
						url: action,
						type: 'put',
						data: form,
						success: function(res) {
							if(res&&res.affectedRows) {
								alert("修改成功!")
								return getAds();
							}
						},
						error: function() {
							alert("修改失败!请刷新重试!")
						}
					})
			})
			$(function(){
				$.get("/api/headlines",function(res){
					if(res){
						res[0].news.split(',').forEach(function(v,i){
							$("input[name='news']")[i].value=v;
						})
					}
				})
			})
		</script>
	</body>

</html>