<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增新闻内容</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
		<style>
			.ke-icon-diyFormat {
				background: url("/src/lib/ueditor/themes/default/paiban.gif");
				width: 16px;
				height: 16px;
			}
			
			.ke-icon-paging {
				background: url("/src/lib/ueditor/themes/default/fenye.gif");
				width: 16px;
				height: 16px;
			}
		</style>
	</head>

	<body onload="document.getElementById('time').value=getNowFormatDate()">
		<div class="main">
			<form id="newsForm" action="/api/news" method="post" name="newsForm">
				<table class="table">
					<tr>
						<td width="100">新闻分类:</td>
						<td>
							<input type="hidden" class="form-control" name="newsId" value="{{newsId}}" placeholder="顶级分类" />
							<input type="hidden" class="form-control" name="classFirstId" value="{{classFirstId}}" placeholder="顶级分类" />
							<select name="classChildId" class="form-control" id="newsClassSelect"></select>
						</td>
						<td>Url:</td>
						<td><input type="text" class="form-control" name="newsUrl" value="" placeholder="该项自动填写,如要手动输入,请点击此表单" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>新闻标题:</td>
						<td><input type="text" class="form-control" name="subTitle" placeholder="新闻标题" oninput="newsObj.fillRightInput()" /></td>
						<td width="100">title:</td>
						<td><input class="form-control" type="text" name="title" placeholder="Title(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>页关键词:</td>
						<td><input type="text" class="form-control" name="subKeywords" placeholder="页关键词" oninput="newsObj.fillRightInput()" /></td>
						<td width="100">keywords:</td>
						<td><input type="text" class="form-control" name="keywords" value="" placeholder="keywords(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td width="100">来　　源:</td>
						<td><input type="text" class="form-control" name="source" value="" placeholder="来源" /></td>
						<td>Description:</td>
						<td><input type="text" class="form-control" name="description" value="" placeholder="description(该项自动填写,如要手动输入,请点击此表单)" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>编　　辑:</td>
						<td><input type="text" class="form-control" name="author" value="" placeholder="编辑" /></td>
						<td width="100">发布时间:</td>
						<td><input type="text" class="form-control" name="time" id="time" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onfocus="newsObj.fillRightInput(),WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>新闻内容:</td>
						<td colspan="3"><textarea id="inforepertoryEditor" class="form-control" rows="12" name="nContent" value="" placeholder="新闻内容" /></textarea>
						</td>
					</tr>

					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><button type="submit" id="editNewsBtn" class="btn btn-md btn-success" title="此处提交时提交到真实库中,会在前台显示!">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/toPinYin.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kindeditor.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/lang/zh_CN.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kEditorConfig.js"></script>
		<script type="text/javascript">
			$(function() {
				//加载新闻时间
				newsObj.hoverInput();
				newsObj.postNews();
				newsObj.getNews();
				newsObj.getNewsClass();
				newsObj.fillRightInput();
			})

			var newsObj = {
				html: "",
				children: "",
				//获取新闻内容,填充表单
				getNews: function() {
					$.get('/api/infoRepertory/' + '{{newsId}}', function(res) {
						if(res) {
							$('input[name="newsUrl"]').val(res[0].newsUrl);
							$('input[name="title"]').val(res[0].title);
							$('input[name="keywords"]').val(res[0].keywords);
							$('input[name="subKeywords"]').val(res[0].subKeywords);
							$('input[name="description"]').val(res[0].description);
							$('input[name="source"]').val(res[0].source);
							$('input[name="author"]').val(res[0].author);
							$('input[name="time"]').val(formatDate(res[0].time));
							$('input[name="subTitle"]').val(res[0].subTitle);
							inforepertoryEditor.html(res[0].nContent);
						}
					})
				},
				//获取分类,填充下拉框
				getNewsClass: function() {
					$this = this;
					$.ajax({
						url: ajaxConfig.newsClassList,
						type: "get",
						success: function(res) {
							if(res) {
								res.forEach(function(val, index) {
									$this.html += '<optgroup label="' + val.subTitle + '">';
									$this.children = '';
									val.child.forEach(function(v, i) {
										$this.children += '<option value ="' + v.id + '">' + v.subTitle + '</option>';
									})
									$this.html += $this.children + "</optgroup>";
								})
								$("#newsClassSelect").empty().append($this.html);
								$("#newsClassSelect").val({{ classChildId }});
								return;
							}
							alert(res.message)
						}
					})
				},
				//控制启用表单
				hoverInput: function() {
					$('input[name="title"],input[name="keywords"],input[name="newsUrl"],input[name="description"],input[name="time"]').hover(function() {
						$(this).removeAttr("readonly")
					}, function() {
						$(this).attr("readonly", "readonly")
					})
				},
				//根据左侧内容,自动填写右侧表单
				fillRightInput: function() {
					//格式化时间,拼凑url
					var formatDate = Date.parse(new Date($("input[name='time']").val())) / 1000,
						keyword = $('input[name="subKeywords"]').val().match(/[^\s|,|，|、]+/g) ? $('input[name="subKeywords"]').val().match(/[^\s|,|，|、]+/g) : "0";
					$('input[name="title"]').val($('input[name="subTitle"]').val());
					$('input[name="keywords"]').val($('input[name="subKeywords"]').val())
					$('input[name="description"]').val($('input[name="subTitle"]').val())
				},
				//提交新闻到真实库中
				postNews: function() {
					//提交表单
					$("#newsForm").validataForm({
							rules: {
								subTitle: "required",
								title: "required",
								subKeywords: "required",
								keywords: "required",
								description: "required",
								nContent: "required",
								time: {
									required: true,
								},
								source: {
									required: true,
								},
								author: "required"
							},
							messages: {
								subKeywords: "页面关键词必须填写",
								keywords: "keywords必须填写",
								subTitle: "新闻标题不能为空",
								title: "title必须填写!",
								description: "description必须填写",
								nContent: "新闻内容必须填写",
								time: {
									required: "发布时间必须填写",
								},
								source: {
									required: "来源不能为空",
								},
								author: {
									required: "编辑不能为空",
								}
							}
						},
						function(e, form) {
							e.preventDefault();
							var action = $(form).attr('action');
							var method = $(form).attr('method');
							var form = $(form).serializeObject();
							if(form.nContent.length < 100) {
								return alert("新闻内容不能为空,且字符不能小于100个字符!")
							}
							$.ajax({
								url: action,
								type: method,
								data: form,
								success: function(res, success) {
									if(res&&success=='success') {
										alert('添加成功!');
										window.location.reload();
									}
								},
								error: function() {
									alert("添加失败!请刷新重试!")
								}
							})
						})
				}
			}
		</script>
	</body>

</html>