<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>报告分类列表</title>
		<link rel="stylesheet" href="/src/less/reportClassList.css" />
	</head>

	<body>
		<div class="main">	
			<table class="table table-bordered" id="reportClassList">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th>分类名称</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<!--	编辑模态框-->
			<div class="containers modal fade" id="reportClassModel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span data-dismiss="modal" class="close" onclick="common.reload()">&times;</span>
							<h5 class="modal-title text-danger">编辑</h5>
						</div>
						<div class="modal-body">

							<form id="reportClassForm" class="form-horizontal">
								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportSubTitle">名　称:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="hidden" id="id" name="id" placeholder="id" />
										<input class="form-control" type="text" id="reportSubTitle" name="reportSubTitle" placeholder="分类名称" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportTitle">Title:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="reportTitle" name="reportTitle" placeholder="Title" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportKeywords">Keywords:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="reportKeywords" name="reportKeywords" placeholder="Keywords" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportKeywords">Description:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="reportDescription" name="reportDescription" placeholder="Description" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="time">添加时间:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="time" name="time" data-type="fullName" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right"></div>
									<div class="col-xs-3">
										<button type="button" class="btn btn-sm btn-success" id="reportClassBtn">修改</button>
										<button class="btn btn-sm btn-warning" data-dismiss="modal">关闭</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>

			<!--	添加报告子分类模态框-->
			<div class="containers modal fade" id="subReportClassModel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span data-dismiss="modal" class="close">&times;</span>
							<h5 class="modal-title text-danger">编辑</h5>
						</div>
						<div class="modal-body">

							<form id="subReportClassForm" class="form-horizontal">

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="fristClass">所属栏目:</label>
									</div>
									<div class="col-xs-6">
										<select name="fristClass" class="form-control" id="fristClass"></select>
									</div>
								</div>

								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportSubTitle">名　称:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="subTitle" name="subTitle" placeholder="分类名称" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="reportTitle">Title:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="title" name="title" placeholder="title" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="keywords">Keywords:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="keywords" name="keywords" placeholder="keywords" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="description">Description:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="description" name="description" placeholder="description" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="postTime">添加时间:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="postTime" name="postTime" data-type="fullName" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right"></div>
									<div class="col-xs-3">
										<button type="button" class="btn btn-sm btn-success" id="subReportClassBtn">添加</button>
										<button class="btn btn-sm btn-warning" data-dismiss="modal">关闭</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getReportClassList();
			})

			//获取分类列表
			function getReportClassList() {
				$.get(ajaxConfig.reportClassList, function(reslut) {
					var html='';
					reslut.forEach(function(val,ind){
						html += '<tr>' + '<td>' + val.id + '</td>' + '<td class="fristClass">' + val.sub_title + '</td>' + '<td>' + formatDate(val.post_time) + '</td>' + '<td><a class="btn btn-xs btn-success" href="JavaScript:void(0)" id="subReportClass" >添加子类</a> <a href="javascript:void(0)"  id="modifyClassDetail">修改</a> | <a href="javascript:void(0)" id="delClassDetail">删除</a></td>' + '</tr>'
						val.child.forEach(function(v,i){
							html += '<tr>' + '<td>' + v.id + '</td>' + '<td class="childrenClass">' + v.sub_title + '</td>' + '<td>' + formatDate(v.post_time) + '</td>' + '<td><a href="javascript:void(0)"  id="modifyClassDetail">修改</a> | <a href="javascript:void(0)" id="delClassDetail">删除</a></td>' + '</tr>'
						})
					})
					$("#reportClassList tbody").empty().append(html);
				})
			}

			function getReportClassDetails(_this) {
				//获取修改记录内容
				$.get(ajaxConfig.reportClass + "/" + $(_this).parents('tr').children("td").html(), function(res) {
					if(res.code == 200) {
						$('#reportClassModel input[name="id"]').val(res.data[0].id);
						$('#reportClassModel input[name="reportSubTitle"]').val(res.data[0].sub_title);
						$('#reportClassModel input[name="reportTitle"]').val(res.data[0].title);
						$('#reportClassModel input[name="reportKeywords"]').val(res.data[0].keywords);
						$('#reportClassModel input[name="reportDescription"]').val(res.data[0].description);
						$('#reportClassModel input[name="time"]').val(formatDate(res.data[0].post_time));
					}
				})
			}

			//修改保存
			function modifyReportClassDetails() {
				var reportClassDetail = $("#reportClassForm").serializeObject();
				$.ajax({
					type: "put",
					url: ajaxConfig.reportClass,
					dataType: "json",
					data: reportClassDetail,
					success: function(res) {
						if(res.code == 200) {
							alert(res.message);
							$("#reportClassModel").modal('hide');
							return;
						}
						alert(res.message);
					},
					error: function(res) {
						console.log(res)
					}
				})
			}

			//所有所有顶级分类,填充数据下拉框
			function getReportFristClassList(id) {
				var html = '';
				$.get(ajaxConfig.reportClass + "/" + id + "/classList", function(res) {

					res.data.forEach(function(v, i) {
						html += '<option value="' + v.id + '">' + v.sub_title + '</option>';
					})
					$("#fristClass").empty().append(html)
				})
			}

			//添加子分类方法
			function postSubreportClass() {
				var subReportClassDetail = $("#subReportClassForm").serializeObject();
				$.post(ajaxConfig.reportClass, subReportClassDetail, function(res) {
					if(res.code = 200) {
						alert(res.message);
						$("#subReportClassModel").modal('hide');
						return;
					}
					alert(res.message)
				})

			}

			//获取修改内容
			$("#reportClassList").on("click", "#modifyClassDetail", function() {
				$("#reportClassModel").modal({
					"backdrop": "static"
				});
				getReportClassDetails(this);
			})

			//修改保存
			$("#reportClassBtn").click(function() {
				modifyReportClassDetails();
			})

			//所有所有顶级分类,填充数据下拉框
			$("#reportClassList").on("click", "#subReportClass", function() {
					$("#subReportClassModel").modal({
						"backdrop": "static"
					});
					var id = $(this).parents('tr').children("td").html();
					getReportFristClassList(id);

				})
				//添加子分类
			$("#subReportClassBtn").click(function() {
				postSubreportClass();
			})

			//删除
			$("#reportClassList").on("click", "#delClassDetail", function() {
				$.ajax({
					type: "delete",
					url: ajaxConfig.reportClass + "/" + $(this).parents('tr').children("td").html(),
					dataType: "json",
					success: function(res) {
						if(res.code == 200) {
							alert(res.message);
							getReportClassList();
							return;
						}
						alert(res.message)
					},
					error: function(res) {
						alert("请求错误,请重新查询!")
					}
				})
			})

			//关闭模态框后刷新一下页面.重置表单不好使
			$('#reportClassModel,#subReportClassModel').on('hidden.bs.modal', function() {
				location.reload();
			})
		</script>
	</body>

</html>