<!DOCTYPE html>
<html ng-app="myApp">

	<head lang="en">
		<meta charset="UTF-8">
		<title>生成报告封面</title>
		<style>
			.main{
				padding:10px;
			}
		</style>
	</head>

	<body>
		<!--/api/reports/covers-->
		<div id="main" class="main">
			<a href="javascript:alert('功能开发中……')">生成所有报告封面</a>
		</div>
		
	</body>

</html>