<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>报告列表</title>
		<link rel="stylesheet" href="/src/less/reportClassList.css" />
	</head>

	<body>
		<div class="main">
			<select id="fristClass" class="form-control" style="display:inline-block;width: 200px;margin-top:20px;">
				<option value=''>按父分类筛查</option>
			</select>
			<select id="childClass" class="form-control" style="display:inline-block;width: 200px;margin-top:20px;">
				<option value="">按子分类筛查</option>
			</select>
			<table class="table table-bordered" id="reportsBox">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th>所属分类</th>
						<th>报告标题</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>

		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getReportsList();
				getReportClassList();
				//删除报告
				$("#reportsBox").on('click', '#delReports', function() {
					var msg = "您确定要删除吗？";
					if(confirm(msg) == true) {
						$.delete(ajaxConfig.reports + '/' + $(this).data('newsid'), function(err, res) {
							if(err) {
								return alert(err.status + '（' + err.statusText + "）")
							}
							getReportsList();
						});
					} else {
						return false;
					}
				})
			})

			//获取报告公共方法
			function getReports(res, _class) {
				var html = "<tr><td colspan=5>没有数据哦...</td></tr>";
				if(res && res.length != 0) {
					html='';
					res.forEach(function(val, index) {
						_class.forEach(function(v, i) {
							if(val.frist_class == v.id) {
								v.child.forEach(function(v1, i1) {
									if(v1.id == val.child_class) {
										html += '<tr><td>' + val.id + '</td><td><strong>' + v.sub_title + '</strong>>' + v1.sub_title + '</td><td><a href="./editReports?reportId=' + val.id + '&firstClass='+val.frist_class+'&childClass='+v1.id+'">' + val.subTitle + '</a></td><td>' + formatDate(val.post_time) + '</td><td><a href="./editReports?reportId=' + val.id + '&firstClass='+val.frist_class+'&childClass='+v1.id+'" id="edit">编辑</a>&nbsp;&nbsp;<a href="javascript:void(0)" id="delReports" data-newsid="' + val.id + '">删除</a></td></tr>';
									}
								})
							}
						})
					})
				}
					$("#reportsBox tbody").empty().append(html);
			}

			function getReportsList() {
				$.get(ajaxConfig.reportsList, function(res) {
					$.get(ajaxConfig.reportClassList, function(_class) {
						getReports(res, _class)
					})
				})
			}

			//获取分类列表,填充select
			function getReportClassList() {
				$.get(ajaxConfig.reportClassList, function(reslut) {
					var fristClass = '';
					var childClass = '<option value="0">全部</option>';
					reslut.forEach(function(val, ind) {
						fristClass += '<option value="' + val.id + '">' + val.sub_title + '</option>';
						if(ind == 0) {
							val.child.forEach(function(v, i) {
								childClass += '<option value="' + v.id + '">' + v.sub_title + '</option>'
							})
						}
					})
					$("#fristClass").empty().append(fristClass);
					$("#childClass").empty().append(childClass);
					//select联动
					$("body").on("change", '#fristClass', function() {
						var childClass = '<option value="0">全部</option>'
						var id = $(this).val();
						//获取对应分类的报告数据
						$.get(ajaxConfig.reports + '/' + id + '/' + 0 + '/list', function(res) {
							$.get(ajaxConfig.reportClassList, function(_class) {
								getReports(res, _class)
							})
						})
						reslut.forEach(function(val, ind) {
							if(val.id == id) {
								val.child.forEach(function(v, i) {
									childClass += '<option value="' + v.id + '">' + v.sub_title + '</option>'
								})
							}
						})
						$("#childClass").empty().append(childClass);
					})

					$("body").on("change", '#childClass', function() {
						var childClass = '<option value="0">全部</option>'
						var firstId = $("#fristClass").find("option:selected").val()
						var childId = $(this).val();
						//获取对应分类的报告数据
						$.get(ajaxConfig.reports + '/' + firstId + '/' + childId + '/list', function(res) {
							$.get(ajaxConfig.reportClassList, function(_class) {
								getReports(res, _class)
							})
						})
						reslut.forEach(function(val, ind) {
							if(val.id == firstId) {
								val.child.forEach(function(v, i) {
									childClass += '<option value="' + v.id + '">' + v.sub_title + '</option>'
								})
							}
						})
						$("#childClass").empty().append(childClass).val(childId);
					})

				})
			}

			$("#main").toggle(function(){
				$(this).css("background-color","green")
			});
		</script>
	</body>

</html>