<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户列表</title>
		<link rel="stylesheet" href="/src/less/users.css" />
	</head>

	<body>
		<div class="main">
			<table class="table table-bordered" id="users">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th>用户名</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="modifyUser" id="modifyUser" style="display: none;">
				<form id="modifyUserForm" action="/api/users" method="put" role="form">
					<table class="table">
						<tr>
							<td width="100">用户名:</td>
							<input type="hidden" class="form-control" value="" name="uid" placeholder="id" />
							<td width="600"><input type="text" class="form-control" value="" name="name" placeholder="用户名" /></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td width="100">密　码:</td>
							<td width="600"><input type="password" class="form-control" value="" name="password" placeholder="修改密码(不修改请为空)" /></td>
						</tr>
						<tr>
							<td width="100">确　认:</td>
							<td width="600"><input type="password" class="form-control" value="" placeholder="确认修改密码(不修改请为空)" /></td>
						</tr>
						<tr>
							<td width="100">时　间:</td>
							<td><input type="text" class="form-control" name="time" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td class="btnLeft" colspan="3"><input type="submit" class="btn btn-md btn-success" value="修改" />&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>

		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getUsers();
				putUser();
			});

			function getUsers() {
				var html = '<tr><td colspan="4">没有用户哦,请先添加!...</td></tr>';
				$.get(ajaxConfig.users, function(res) {
					if(res.code == 200 && res.datas.length != 0) {
						res.datas.forEach(function(val, index) {
							html="";
							html += '<tr><td>' + val.id + '</td><td>' + val.name + '</td><td>' + formatDate(val.time) + '</td><td><a href="JavaScript:void(0)" onclick="getUser(this)">修改</a>　<a href="javascript:void(0)" onclick="delUser(this)">删除</a></td><tr/>'
						})
					}
					$("#users tbody").empty().append(html);
				})
			}

			function getUser(_this) {
				$("#users").hide();
				$("#modifyUser").show();
				var uid = $(_this).parents("tr").children("td:first").html();
				$.get(ajaxConfig.users + '/' + uid, function(res) {
					if(res.code == 200 && res.datas.length != 0) {
						$("#modifyUserForm input[name='name']").val(res.datas[0].name)
						$("#modifyUserForm input[name='time']").val(formatDate(res.datas[0].time))
						$("#modifyUserForm input[name='uid']").val(uid)
					}
				})
			}

			function putUser() {
				$("#modifyUserForm").on('submit', function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var $container = $(this).closest('#modifyUser');
					var form = $(this).closest('#modifyUserForm').serializeObject();
					$.ajax({
						url: action,
						type: 'put',
						data: form,
						success: function(res) {
							if(res.code == 200) {
								alert(res.message);
								getUser();
								return;
							}
							alert(res.message);
						},
						error: function() {
							alert("修改失败!请刷新重试!")
						}
					})
				})
			}
			
			function delUser(_this){
				var uid = $(_this).parents("tr").children("td:first").html();
				$.ajax({
					type:"delete",
					url:ajaxConfig.users + '/' + uid,
					success:function(res){
						if(res.code == 200) {
								alert(res.message);
								getUsers();
								return;
							}
							alert(res.message);
					},
					error:function(){
						alert("删除失败!请刷新重试!")
					}
				});
			}
		</script>
	</body>

</html>