@import "common.less";
@import "../lib/css/bootstrap-select.min.css";
body{ 
    background: #f7f7f7; 
}
.main {
    .table {
        margin-top:20px;
        margin-bottom: 40px;
        > tbody > tr > td { 
            border: none;
            vertical-align: middle;
        }
        tr > td:first-child,td:first-child+td+td,td:first-child+td+td+td+td,td:first-child+td+td+td+td+td+td,td:first-child+td+td+td+td+td+td+td+td{
            font-weight: bold;
            text-align: right;
        }
        tr td.btnLeft { 
            text-align: left;
        }
        .relatedReport{
            display: inline-block;width: 70px;
        }
    }
} 