@import "../lib/css/bootstrap.css";
body {
  color: #000000;
  font-family: "微软雅黑", "microsoft yahei", "simHei", "Times New Roman", "Georgia", "Serif";
  font-size: 12px;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar {
  margin-bottom: 0px;
}
a {
  color: #585858;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
}
.tooltip-inner {
  background: red;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: red;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: red;
}
.header {
  height: 60px;
}
.container-fluid {
  background: #fff;
  overflow: hidden;
}
.clickSide {
  width: 5px;
  float: left;
  height: 700px;
  background: #dcdcdc;
  overflow: hidden;
  cursor: pointer;
  color: #585858;
  display: inline;
}
.clickSide span {
  line-height: 500px;
}
div.bottom {
  display: block;
  overflow: hidden;
}
.navLeft {
  background: #fbfbfb;
  display: inline;
  float: left;
  width: 200px;
  height: 700px;
  overflow-x: hidden;
  -moz-box-shadow: -5px 0 10px #eee inset;
  /* For Firefox3.6+ */
  -webkit-box-shadow: -5px 0 10px #eee inset;
  /* For Chrome5+, Safari5+ */
  box-shadow: -5px 0 10px #eee inset;
  /* For Latest Opera */
  border-right: 1px solid #ddd;
}
.navLeft #users,
.navLeft #class,
.navLeft #navNewsClass,
.navLeft #ads,
.navLeft #reports,
.navLeft #infoRepertory,
.navLeft #boffin {
  border-top: 1px solid #e5e5e5;
}
.navLeft #navNewsClass > li {
  border-bottom: 1px solid #E5E5E5;
}
.navLeft #navNewsClass > li:last-child {
  border: 1px solid transparent;
}
.navLeft .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navLeft .nav-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  line-height: 35px;
}
.navLeft .nav-list > li .submenu > li > a {
  position: relative;
  color: #616161;
  margin: 0;
}
.navLeft .nav-list > li .submenu > li {
  text-indent: 3em;
}
.navLeft .nav-list > li > a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: #f9f9f9;
  color: #585858;
  text-shadow: none !important;
  text-decoration: none;
  padding-left: 20px;
}
.navLeft .nav-list > li > a > [class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px;
}
.navLeft .nav-list > li [id^="firstId"] > a {
  font-weight: bold;
  color: #585858!important;
  background: #eee ;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.article {
  margin-left: 206px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.crumbs ul {
  padding: 8px 15px;
  /*margin-bottom: 20px;*/
  list-style: none;
  background-color: #e9edf8;
  border-radius: 4px;
}
.crumbs ul li {
  color: #616161;
  display: inline-block;
}
.crumbs ul li span.s {
  color: #ddd;
}
