<div class="life" id="shenghuo">
	<h3></h3>
	<div class="currentDate" id="currentDate"><span class="yue"></span>&nbsp;月&nbsp;<span class="ri"></span>&nbsp;日</div>
	<p></p>
	<ul>
		<li class="wuxing"></li>
		<li class="chongsha"></li>
		<li class="baiji"></li>
		<li class="jishen"></li>
		<li class="yi"></li>
		<li class="xiongshen"></li>
		<li class="ji"></li>
	</ul>
</div>