<div class="left1" id="zhishu">
						<dl>
							<dt class="active"><ul class="rup"><li class="wmt_n"><span>正常频道</span></li><li><span class="sh000001"></span></li><li><span class="sh000001Index"></span></li><li><span class="sh000001Range"></span></li></ul></dt>
							<dd>
								<img class="sh000001" src="http://image.sinajs.cn/newchart/hollow/small/nsh000001.gif" />
							</dd>
						</dl>
						<dl>
							<dt><ul class="rup"><li class="wmt_n"><span>深证成指</span></li><li><span class="sz399001"></span></li><li><span class="sz399001Index"></span></li><li><span class="sz399001Range"></span></li></ul></dt>
							<dd>
								<img class="sz399001" src="http://image.sinajs.cn/newchart/hollow/small/nsz399001.gif">
							</dd>
						</dl>
						<dl>
							<dt><ul class="rup"><li class="wmt_n"><span>沪深300</span></li><li><span class="sh000300">3339.66</span></li><li><span class="sh000300Index"></span></li><li><span class="sh000300Range"></span></li></ul></dt>
							<dd>
								<img class="sh000300" src="http://image.sinajs.cn/newchart/hollow/small/nsh000300.gif">
							</dd>
						</dl>
						<dl>
							<dt><ul class="rup"><li class="wmt_n"><span>创业板指</span></li><li><span class="sz399006">1967.59</span></li><li><span class="sz399006Index"></span></li><li><span class="sz399006Range"></span></li></ul></dt>
							<dd>
								<img class="sz399006" src="http://image.sinajs.cn/newchart/hollow/small/nsz399006.gif">
							</dd>
						</dl>
					</div>