<div class="footer">
	<div class="f-caution">
		沪深股票、基金、债券、港股、美股、国内期货、外汇、黄金等行情，除有特别标明外，均为实时行情；其他行情至少延时15分钟。新浪财经免费提供的行情数据以及其他资料均来自合作方，仅作为用户获取信息之目的，并不构成投资建议。新浪财经以及其合作机构不为本页面提供的信息错误、残缺、延时或因依靠此信息所采取的任何行动负责。市场有风险，投资需谨慎。
	</div>
	<div class="f-content">
		客户服务热线：4006900000　　欢迎批评指正<br>
		<a target="_blank" href="http://tech.sina.com.cn/focus/sinahelp.shtml">常见问题解答</a>
		<a target="_blank" href="http://net.china.cn/chinese/index.htm">互联网违法和不良信息举报</a>
		<a target="_blank" href="http://comment5.news.sina.com.cn/comment/skin/feedback.html?channel=ly&amp;newsid=5">新浪财经意见反馈留言板</a><br>
		<a href="http://corp.sina.com.cn/chn/">新浪简介</a> |
		<a href="http://corp.sina.com.cn/eng/">About Sina</a> |
		<a href="http://emarketing.sina.com.cn/">广告服务</a> |
		<a href="http://www.sina.com.cn/contactus.html">联系我们</a> |
		<a href="http://corp.sina.com.cn/chn/sina_job.html">招聘信息</a> |
		<a href="http://www.sina.com.cn/intro/lawfirm.shtml">网站律师</a> |
		<a href="http://english.sina.com">SINA English</a> |
		<a href="https://login.sina.com.cn/signup/signup.php">通行证注册</a> |
		<a href="http://help.sina.com.cn/">产品答疑</a><br>Copyright © 1996-2016 SINA Corporation, All Rights Reserved<br>新浪公司
		<a href="http://corp.sina.com.cn/chn/copyright.html">版权所有</a>
	</div>
</div>
{{{block "footJs"}}}