<div class="header">
	<div class="navTop">
		<div class="left">
			<ul>
				<li>
					<a href="javascript:void(0)">首页</a>
				</li>
				<li>
					<a href="javascript:void(0)">最新动态</a>
				</li>
				<li>
					<a href="javascript:void(0)">产业经济</a>
				</li>
				<li>
					<a href="javascript:void(0)">宏观</a>
				</li>
				<li>
					<a href="javascript:void(0)">金融</a>
				</li>
				<li>
					<a href="javascript:void(0)">证券</a>
				</li>
				<li>
					<a href="javascript:void(0)">科技</a>
				</li>
				<li>
					<a href="javascript:void(0)">商业</a>
				</li>
				<li>
					<a href="javascript:void(0)">汽车</a>
				</li>
				<li>
					<a href="javascript:void(0)">民生</a>
				</li>
				<li class="navTop-current">
					<a href="javascript:void(0)" id="navTop-current">更多</a>
					<div class="more hide" id="more">
						<ul>
							<li>
								<a href="javascript:void(0)">产业经济</a>
							</li>
							<li>
								<a href="javascript:void(0)">宏观</a>
							</li>
							<li>
								<a href="javascript:void(0)">金融</a>
							</li>
							<li>
								<a href="javascript:void(0)">证券</a>
							</li>
							<li>
								<a href="javascript:void(0)">科技</a>
							</li>
							<li>
								<a href="javascript:void(0)">商业</a>
							</li>
							<li>
								<a href="javascript:void(0)">汽车</a>
							</li>
							<li>
								<a href="javascript:void(0)">民生</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="right">
			<ul>
				<li class="red">
					<a href="javascript:void(0)">最新报告</a>
				</li>
				<li class="red">
					<a href="javascript:void(0)">行业研究报告</a>
				</li>
				<li>
					<a href="javascript:void(0)">购物指南</a>
				</li>
				<li>
					<a href="javascript:void(0)">联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)">服务项目</a>
				</li>
			</ul>
		</div>
	</div>
</div>