<div class="container-fluid">
			<div class="navTop">
				<span class="left">首页</span>
				<div class="right">
					<ul>
						<li class="red">
							<a href="javascript:void(0)">最新报告</a>
						</li>
						<li class="red">
							<a href="javascript:void(0)">行业研究报告</a>
						</li>
						<li>
							<a href="javascript:void(0)">设为首页</a>
						</li>
						<li>
							<a href="javascript:void(0)">收藏夹</a>
						</li>
						<li>
							<a href="javascript:void(0)">帮助中心</a>
						</li>
						<li>
							<a href="javascript:void(0)">联系我们</a>
						</li>
						<li>
							<a href="javascript:void(0)">服务项目</a>
						</li>
					</ul>
				</div>
			</div>
		</div>