<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新闻分类列表</title>
		<link rel="stylesheet" href="/src/less/reportClassList.css" />
	</head>

	<body>
		<div class="main">
			<table class="table table-bordered" id="newsClassList">
				<thead>
					<tr>
						<th width="50">序号</th>
						<th>分类名称</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<!--	编辑模态框-->
			<div class="containers modal fade" id="newsClassModel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span data-dismiss="modal" class="close" onclick="common.reload()">&times;</span>
							<h5 class="modal-title text-danger">编辑</h5>
						</div>
						<div class="modal-body">
							<form id="modifyNewsClassForm" class="form-horizontal">
								<input type="hidden" class="form-control" name="id" value="" placeholder="id" />
								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="subTitle">栏目地址:</label>
									</div>
									<div class="col-xs-6">
										<td><input type="text" class="form-control" name="url" value="" placeholder="必须为英文以.html结尾,chanyedongtai.html" /></td>
									</div>
								</div>
								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="subTitle">名　称:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="subTitle" name="subTitle" placeholder="分类名称" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="title">Title:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="title" name="title" placeholder="Title" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="keywords">Keywords:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="keywords" name="keywords" placeholder="Keywords" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="description">Description:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="description" name="description" placeholder="Description" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="time">添加时间:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="time" name="time" data-type="fullName" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right"></div>
									<div class="col-xs-3">
										<button type="button" class="btn btn-sm btn-success" id="modifyNewsClassBtn">修改</button>
										<button class="btn btn-sm btn-warning" data-dismiss="modal">关闭</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>

			<!--	添加新闻子分类模态框-->
			<div class="containers modal fade" id="subNewsClassModel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span data-dismiss="modal" class="close">&times;</span>
							<h5 class="modal-title text-danger">添加子分类</h5>
						</div>
						<div class="modal-body">

							<form id="subNewsClassForm" class="form-horizontal">

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="fristId">所属栏目:</label>
									</div>
									<div class="col-xs-6">
										<select name="firstId" class="form-control" id="firstId"></select>
									</div>
								</div>
								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="subTitle">栏目地址:</label>
									</div>
									<div class="col-xs-6">
										<td><input type="text" class="form-control" name="url" value="" placeholder="必须为英文以.html结尾,chanyedongtai.html" /></td>
									</div>
								</div>
								<div class="form-group">

									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="subTitle">名　称:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="subTitle" name="subTitle" placeholder="分类名称" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="title">Title:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="title" name="title" placeholder="Title" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="keywords">Keywords:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="keywords" name="keywords" placeholder="Keywords" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="description">Description:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="description" name="description" placeholder="Description" data-type="fullName" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right">
										<em class="cred">*</em>
										<label for="time">添加时间:</label>
									</div>
									<div class="col-xs-6">
										<input class="form-control" type="text" id="time" name="time" data-type="fullName" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-3 text-right"></div>
									<div class="col-xs-3">
										<button type="button" class="btn btn-sm btn-success" id="subNewsClassBtn">添加</button>
										<button class="btn btn-sm btn-warning" data-dismiss="modal">关闭</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				getNewsClassList();
			})

			//获取修改内容
			$("#newsClassList").on("click", "#modifyClassDetail", function() {
				$("#newsClassModel").modal({
					"backdrop": "static"
				});
				getNewsClassDetails(this);
			})

			//修改保存
			$("#modifyNewsClassBtn").click(function() {
				modifyNewsClassDetails();
			})

			//所有顶级分类,填充数据下拉框
			$("#newsClassList").on("click", "#subNewsClass", function() {
				$("#subNewsClassModel").modal({
					"backdrop": "static"
				});
				var id = $(this).parents('tr').children("td").html();
				getNewsFristClassList(id);
			})

			//添加子分类
			$("#subNewsClassBtn").click(function() {
				postSubnewsClass();
			})

			//删除
			$("#newsClassList").on("click", "#delClassDetail", function() {
				$.ajax({
					type: "delete",
					url: ajaxConfig.newsClass + "/" + $(this).parents('tr').children("td").html(),
					dataType: "json",
					success: function(res) {
						if(res.code == 200) {
							alert(res.message);
							getNewsClassList();
							return;
						}
						alert(res.message)
					},
					error: function(res) {
						alert("请求错误,请重新查询!")
					}
				})
			})

			//获取分类列表
			function getNewsClassList() {
				$.get(ajaxConfig.newsClassList, function(res) {
					if(res.code==200&&res.data.length!=0){
						var html="";
						res.data.forEach(function(val,index){
							html+='<tr><td>'+val.id+'</td><td><strong>'+val.subTitle+'</strong></td><td>'+formatDate(val.time)+'</td><td><a class="btn btn-xs btn-success" href="JavaScript:void(0)" id="subNewsClass" >添加子类</a> <a href="javascript:void(0)"  id="modifyClassDetail">修改</a> | <a href="javascript:void(0)" id="delClassDetail">删除</a></td></tr>';
							val.child.forEach(function(v,i){
								html+='<tr><td>'+v.id+'</td><td style="text-indent:1em;">'+v.subTitle+'</td><td>'+formatDate(v.time)+'</td><td><a href="javascript:void(0)"  id="modifyClassDetail">修改</a> | <a href="javascript:void(0)" id="delClassDetail">删除</a></td></tr>'
							})
						})
					}
					$("#newsClassList tbody").empty().append(html)
				})
			}

			function getNewsClassDetails(_this) {
				//获取修改记录内容
				$.get(ajaxConfig.newsClass + "/" + $(_this).parents('tr').children("td").html(), function(res) {
					if(res.code == 200) {
						$('#newsClassModel input[name="id"]').val(res.data[0].id);
						$('#newsClassModel input[name="url"]').val(res.data[0].url);
						$('#newsClassModel input[name="subTitle"]').val(res.data[0].subTitle);
						$('#newsClassModel input[name="title"]').val(res.data[0].title);
						$('#newsClassModel input[name="keywords"]').val(res.data[0].keywords);
						$('#newsClassModel input[name="description"]').val(res.data[0].description);
						$('#newsClassModel input[name="time"]').val(formatDate(res.data[0].time));
					}
				})
			}

			//修改保存
			function modifyNewsClassDetails() {
				var newsClassDetail = $("#modifyNewsClassForm").serializeObject();
				$.ajax({
					type: "put",
					url: ajaxConfig.newsClass,
					dataType: "json",
					data: newsClassDetail,
					success: function(res) {
						if(res.code == 200) {
							alert(res.message);
							$("#newsClassModel").modal('hide');
							return;
						}
						alert(res.message);
					},
					error: function(res) {
						console.log(res)
					}
				})
			}

			//所有顶级分类,填充数据下拉框
			function getNewsFristClassList(id) {
				var html = '';
				$.get(ajaxConfig.newsClass + "/" + id + "/classList", function(res) {
					res.data.forEach(function(v, i) {
						html += '<option value="' + v.id + '">' + v.subTitle + '</option>';
					})
					$("#firstId").empty().append(html)
				})
			}

			//添加子分类方法
			function postSubnewsClass() {
				var subNewsClassDetail = $("#subNewsClassForm").serializeObject();
				$.post(ajaxConfig.newsClass, subNewsClassDetail, function(res) {
					console.log(res)
					if(res.code = 200) {
						alert(res.message);
						$("#subNewsClassModel").modal('hide');
						return;
					}
					alert(res.message)
				})

			}

			//关闭模态框后刷新一下页面.重置表单不好使
			$('#newsClassModel,#subNewsClassModel').on('hidden.bs.modal', function() {
				location.reload();
			})
		</script>
	</body>

</html>