<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户列表</title>
		<link rel="stylesheet" href="/src/less/addNews.css" />
	</head>

	<body>
		<div class="main">
			<form id="reportClassForm">
				<table class="table">
					<tr>
						<td width="100">用户名:</td>
						<td width="600"><input type="text" class="form-control" value="" name="reportSubTitle" placeholder="分类名称" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">密　码:</td>
						<td width="600"><input type="text" class="form-control" value="" name="reportSubTitle" placeholder="分类名称" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>角　色:</td>
						<td><input type="text" class="form-control" name="reportTitle" value="" placeholder="分类的SEO标题" /></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td>资　源:</td>
						<td><input type="text" class="form-control" name="reportKeywords" value="" placeholder="分类的SEO关键词" /></td>
						<td width="100"></td>
						<td></td>
					</tr>
					<tr>
						<td width="100">时　间:</td>
						<td><input type="text" class="form-control" name="time" value="" placeholder="发布时间(该项自动填写,如要手动输入,请点击此表单)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" /></td>
						<td><input type="hidden" class="form-control" name="reportUrl" placeholder="url" /></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="btnLeft" colspan="3"><button type="button" id="reportClassBtn" class="btn btn-md btn-success">添加</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset">重置</button></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				
			})


	
			//关闭模态框后刷新一下页面.重置表单不好使
			$('#reportClassModel,#subReportClassModel').on('hidden.bs.modal', function() {
				location.reload();
			})
		</script>
	</body>

</html>