<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{title}}_中智顾问_中智投资咨询网</title>
		<meta name="keywords" content="关键词" />
		<meta name="description" content="描述" />
		<link href="dist/index.css" rel="stylesheet" media="screen" type="text/css" />
	</head>

	<body>
				{{title}}
	</body>
</html>